@model LaptopWeb.Models.Laptop

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_real)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_real)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.past_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.past_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpu_compact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpu_compact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ram_compact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ram_compact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.memory_compact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.memory_compact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.card)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.card)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.screen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.screen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.screen_compact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.screen_compact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link_img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link_img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrademarkId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrademarkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trademark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trademark.TrademarkName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LaptopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
